.product-list {
  color: #333;
}
.product-list .table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;
}
   
.product-list .search {
      width: 100%;
      max-width: 300px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;
    }
      thead {
        border-top: 2px solid var(--light-blue);
        border-bottom: 2px solid var(--light-blue);
      }

      th {
        border: 1px solid #eee;
      }

      th,
      td {
        vertical-align: top;
        text-align: left;
        padding: 8px;
      }
        .icons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
           
        
      

      tr {
        border-bottom: 1px solid #ccc;
      }

      tr:nth-child(even) {
        background-color: #fff;
      }
      
        tbody tr:hover {
          cursor: pointer;
          background-color: rgba(31, 147, 255, 0.3);
        }
        .add-btn{
            float: right!important;
        }
    
        .drop-down-icon{
          border: none;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          padding: 10px;
        }

        .drop-down-icon span{
          font-size: 14px;
        }