
  .profile  .card {
    max-width: 700px;
    display: flex;
    justify-content: flex-start;

    padding: 1rem 0;
  }
.profile h2{
font-weight: 600;
}
.profile label{
  font-size: 14px;
  color: #333;
}
.profile span{
  font-size: 14px;
  color: rgb(6, 6, 39);
  }
.center-div{
  text-align: center;
}
    .profile     img {
      width: 100%;
      max-width: 150px;
      padding-right: 1rem;
      padding-left: 1rem;
      border-radius: 50%;
      
    }
    span.profile-data {
      margin: 0 1rem;
    }
    span.profile-data > * {
      border-top: 1px solid #ccc;
      padding: 5px 0;
    }
  


@media screen and (max-width: 600px) {
  span.profile-photo {
    margin: auto;
  }
}

.profile-btn{
  float: right;
  padding-top: 20px;
}